:root{
	--backColorPrimary:#f4f4f4; /* Gray-ish primary back color */
	--backColorSecondary:#354248; /* Darker gray-ish color */
	--backColorGray:#cccccc; /* pure gray color, hover/accent */
	--boxColorBrightPaleGray:#e6e6e6; /* main box color */
	--boxColorBrightGrey:#d8d8d8; /* hover/accent box color */
	--coralPrimary:#e8491d; /* coral color, complementary */
	--coralPaleSecondary:#f25044; /* hover/accent pale coral */
}

body{
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:1.5;
	/* font:15px/1.5/ Arial, Helvetica, sans-serif; */
	padding:0;
	margin:0;
	background-color:var(--backColorPrimary);
}

/* ---GLOBAL--- */
.container{ /* A CLASS! */
	width:80%; /* responsive */
	margin:auto; /* moves all to middle */
	overflow:hidden; /* no scroll bar */
}

.dark{
	padding:15px;
	background:var(--backColorSecondary);
	color:white;
	margin-top:10px;
	margin-bottom:10px;
}

ul{ /* unordered list */
	margin:0; /* have default margings and paddings */
	padding:0; /* we dont want that */
}

.button1{
	height:38px;
	background:var(--coralPrimary);
	border:0;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	color:white;
	text-decoration:none;
}

.button1:hover{
	background-color:var(--coralPaleSecondary);
}

.button2{
	background:var(--coralPrimary);
	border:0;
	color:white;
}

/* ---HEADER--- */
header{
	background:var(--backColorSecondary);
	color:white;
	padding-top:30px;
	min-height:70px; /* responsive, when screen smaller height adjusts */
	border-bottom:var(--coralPrimary) 3px solid;
}

header a{
	color:white;
	text-decoration:none;
	text-transform:uppercase;
	font-size:16px;
}

header li{ /* links */
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}

/* we want to float id"branding" to the left
and yje ul's to the right */
header #branding{
	float:left;
}

header #branding h1{
	margin:0
}

header nav{
	float:right;
	margin-top:10px;
}

/* orange branding - class .highlight, another property 
for this style - class .current a (link within that class */
header .highlight, header .current a{
	color:var(--coralPrimary);
	font-weight:bold;
} /* currently on home => orange! */

header a:hover{
	color:var();
	font-weight:bold;
}

/* ---SHOWCASE--- */
#showcase{ /* an ID! */
	min-height:400px;
	background:url('../img/Cover.png') no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	text-align:center;
	color:white;
	text-shadow: 1px 1px 1px black;
}

#showcase h1{
	margin:top:100px;
	font-size:55px;
	margin-bottom:10px;
}

#showcase p{
	font-size:20px;
	font-weight:bold;
}

#newsletterFindPledge{
	padding:15px;
	color:white;
	background:var(--backColorSecondary);
}

#newsletterFindPledge h1{
	
	flex:auto;
}

#newsletterFindPledge form{
	flex:auto;
	
}

/* ---NEWSLETTER--- */
#newsletterFindPledge input[type="number"]{
	padding:4px;
	height:25px;
	width:250px;
}

/* ---BOXES--- */
#boxes{
	margin-top:20px;
}

#boxes .box{
	float:left;
	text-align:center;
	width:30%;
	padding:10px;
	border:var(--backColorGray) solid 1px;
	margin-bottom:5px;
	background:var(--boxColorBrightPaleGray);
}

#boxes .box img{
	width:90px;
}

#boxes .box:hover{
	background-color:var(--boxColorBrightGrey);
}

/* ---SIDEBAR--- */
aside#sidebar{
	float:right;
	width:30%;
	margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
	width:90%;
	padding:5px;
}

/* ---MAIN-COL--- */
article#main-col{
	float:left;
	width:65%;
}

#main-col .box:hover{
	background-color:var(--boxColorBrightGrey);
}

/* ---SERVICES--- */
ul#services li{
	list-style:none;
	padding:10px;
	border:var(--backColorGray) solid 1px;
	margin-bottom:5px;
	background:var(--boxColorBrightPaleGray);
	text-align:left;
}

#services2 ul{
	margin:0;
}

#services2 li{
	display:inline;
}

#services img{
	width:90px;
	float:left;
}

#services h2{
	color:var(--coralPrimary);
}

/* FOOTER */
footer{
	padding:20px;
	margin-top:20px;
	color:white;
	background-color:var(--backColorSecondary);
	text-align:center;
}

/* Media Queries */
@media(max-width:768px){ /* tablet size */
	header #branding,
	header nav,
	header nav li,
	#newsletter h1,
	#newsletter form,
	#boxes .box,
	article#main-col,
	aside#sidebar{
		float:none;
		text-align:center;
		width:100%;
	}
	
	header{
		padding-bottom:20px;
	}
	
	#showcase h1{
		margin-top:40px;
	}
	
	#newsletter button, .quote button{
		display:block;
		width:100%;
	}
	
	#newsletter form input[type="email"], .quote input, .quote textarea{
		width:100%;
		margin-bottom:5px;
	}
	
	#boxes .box p{
		margin-right:10px;
	}
}

